name: Refresh Stats

on:
  schedule:
    - cron: "0 */6 * * *" # every 6 hours
  workflow_dispatch:

jobs:
  stats:
    runs-on: ubuntu-latest
    steps:
      - name: Refresh GitHub Stats Cache
        run: |
          curl -s "https://github-readme-stats.vercel.app/api?username=wakeemwilliams" > /dev/null
